<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526353002817-mfhe1i9r4oco5j3odmgetml61jeambfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526353002817-mfhe1i9r4oco5j3odmgetml61jeambfc</string>
	<key>API_KEY</key>
	<string>AIzaSyAg_ZfpjhHFQ2K9Tke_ffjcLG8PsgN4Sqg</string>
	<key>GCM_SENDER_ID</key>
	<string>526353002817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myProject</string>
	<key>PROJECT_ID</key>
	<string>jjjj-cc234</string>
	<key>STORAGE_BUCKET</key>
	<string>jjjj-cc234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526353002817:ios:51a54ab1a091fd4623b1c0</string>
</dict>
</plist>